{% extends 'base.html.twig' %}

{% block title %}My Orders - eco. online store {% endblock %}

{% block content %}
    <h2>My Orders</h2>

    <div class="text-right">
        <a href="{{ path('profile') }}">Return</a>
    </div>

    {% if orders | length > 0 %}
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">Reference</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Placed On</th>
                <th scope="col" class="text-center">Item(s)</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Details</th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td> <span class="badge badge-secondary">{{ order.reference }}</span></td>
                        <td class="text-center">
                            {% if order.state == 1 %}
                                Confirmed
                            {% elseif order.state == 2 %}
                                In Progress...
                            {% elseif order.state == 3 %}
                                Shipped!
                            {% endif %}
                        </td>
                        <td class="text-center">{{ order.createdAt | date('d/m/Y') }}</td>
                        <td class="text-center">
                            {% set occurence = 0 %}
                            {% for detail in order.orderDetails.values %}
                                {% set item = detail %}
                                {% set occurence = occurence + item.quantity %}
                            {% endfor %}
                            {{ occurence }}
                        </td>
                        <td class="text-center"> {{ ((order.carrierPrice + order.getTotal) / 100) | number_format(2) }}$ </td>
                        <td class="text-center"><a href="{{ path('my_order_show', {'reference' : order.reference}) }}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>
            No orders yet.
        </p>
    {% endif %}
{% endblock %}
