{% extends 'base.html.twig' %}

{% block title %}Cart - eco. online store {% endblock %}

{% block content %}
    <h2>My Cart</h2>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col" colspan="2">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>

        <tbody>
            {% set total = 0 %}
            {% for products in cart %}
                <tr>
                    <td class="align-middle">
                        <a href="{{ path('product', {'slug' : products.product.slug}) }}" title="{{ products.product.name }}">
                            <img class="cart-product-img" src="uploads/files/{{ products.product.image }}" alt="{{ products.product.name }}" title="{{ products.product.name }}">
                        </a>
                    </td>
                    <td class="align-middle cart-product-name">
                        <a href="{{ path('product', {'slug' : products.product.slug}) }}" title="{{ products.product.name }}">
                            {{ products.product.name }}
                        </a>
                    </td>
                    <td class="align-middle">{{ products.quantity }}</td>
                    <td class="align-middle">${{ (products.product.price / 100) | number_format(2) }}</td>
                    <td class="align-middle">${{ ((products.product.price * products.quantity )/ 100) | number_format(2) }}</td>
                </tr>
                {% set total = total + products.product.price * products.quantity %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="cart-total-price">
                <td colspan="4">Total</td>
                <td>${{ (total / 100) | number_format(2) }}</td>
            </tr>
        </tfoot>
    </table>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <a href="{{ path('delete_cart') }}" class="btn btn-block btn-dark">Empty Cart</a>
        </div>
        <div class="col-md-6">
            <a href="" class="btn btn-block btn-danger">Checkout & Shipping</a>
        </div>



    </div>
{% endblock %}
