<a class="product-redirect-link" href="{{ path('product', {'slug' : product.slug}) }}">
    <img class="img-fluid" src="uploads/files/{{ product.image }}" alt="{{ product.name }}">
    <div class="product-info mt-3">
        <p class="product-brand">{{ product.brand }}</p>
        <h5 class="product-name">{{ product.name }}</h5>
        <p class="product-price">${{ (product.price / 100) | number_format(2) }}</p>
    </div>
</a>